/* Fonts */

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Regular.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inclusive Sans";
  src:
    url("assets/fonts/InclusiveSans-Bold.woff2") format("woff2"),
    url("assets/fonts/InclusiveSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Image Carousel */

:root {
  --gray-400: #bdbdbd;
  --gray-900: #212121;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.outer-container {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.inner-container {
  position: absolute;
  left: 0;
  display: flex;
  width: 1200px;
}

.slide {
  width: 400px;
}

.dotnav-container {
  margin-top: 20px;
}

.dotnav-container ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dotnav-item {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--gray-400);
}

.dotnav-item.current {
  background-color: var(--gray-900);
}
